.navigation, .footer {
    background-color: #1B4965;
}

.cardToggle:hover {
    cursor: pointer;
}

.linkButton {
    color: #fff;
    background-color: #5FA8D3;
}

.linkButton:hover {
    color: #fff;
    background-color: #358DC0;
}

.icon {
    transition: all 300ms ease-out;
}

.icon:hover {
    color: #358DC0;
}

@media(prefers-reduced-motion: no-preference) {
    .logo:hover {
        animation: logo-spin infinite 5s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}