.navigation, .footer {
    background-color: #1B4965;
}

@media(prefers-reduced-motion: no-preference) {
    .logo:hover {
        animation: logo-spin infinite 5s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}